
<%- include("../partials/header") %>

<!-- <div class="container"> -->
	<div class="row justify-content-center">
		<div class="col-md-12 text-center">
			<h2>Edit <%=campground.name %></h2>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-5">
			<!-- this is a put request -->
			<form action ="/campgrounds/<%= campground._id%>?_method=PUT" method="POST">
				<div class="form-group">
					<!-- value takes the data from the source mentioned -->
					<input class="form-control" type="text" name="campground[name]" value="<%= campground.name%>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="campground[image]" value="<%= campground.image%>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="campground[description]" value="<%= campground.description%>">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit!</button>
				</div>	
			</form>

			<a href="/campgrounds">Go Back</a>
		</div>
		
	</div>	
<!-- </div> -->

<%- include("../partials/footer") %>
