<%- include("../partials/header") %>


<!-- =========================sidebar=============== -->
<!-- <div class="container"> -->
	<div class="row">
		<div class="col-md-3">
		
		</div>
		
	<!-- ===================================================== -->
		
		
	<!-- =========================campground====================== -->
		<div class="col-md-9">
			<div class="card mb-4">
				<img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
				<div class="card-body">
					<div class="caption">
						<h4 id="name"><a>	<%= campground.name %></a></h4>
						<p> 
							 <em>Submitted By: <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %> </em>
						</p>
						<hr style="margin: 2 0px">
						<p><%= campground.description %></p>
						
						<!-- check app.js for currentuser -->
<!-- when user not logged in then currentUser is not defined so gives an error so need this --> 
						<% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
							<a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">
								Edit
							</a>
							<form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
								 <button class="btn btn-danger">Delete</button>
							</form>
						<% } %>
					</div>
				</div>
			</div>
	<!-- ===============comment==================== -->
			<div class="card">			
				<div class="card-body">
					<div class="float-right">
						<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New comment</a>
					</div>
					
					<br>
					<hr style="margin: 30px">
<!-- loop through all the comments and show them in paragraph -->
					
					
					<% campground.comments.forEach(function(comment){ %>
						<div class="col-md-12 mb-2">
            <div class="card">
              <div class="card-body">
                <div class="float-left">
									<strong><p class="card-title"><%= comment.author.username %></p></strong>
                  <p class="card-text"><%= comment.text %></p>
                </div>
                <div class="float-right">
                  <p><%= moment(comment.createdAt).fromNow() %></p>
                  
                  <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                  <div class="float-right">
                    <a href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-warning">EDIT</a>
                    <form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-sm btn-danger">DELETE</button>
                    </form>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>	
					<% }) %>					
				</div>
			</div>		
		</div>
	</div>	
<!-- </div> -->

<%- include("../partials/footer") %>


<!-- methodoverride used to send delete request ?_method=DELETE" method="POST"> -->